
  h2 {background-color:blue;
   }  
   


   
  
body {
    
    font-family: 'segoe UI' , tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    color:black;
    line-height: 1.6;
    padding: 20px;
}

  